form {
	display: flex;
	flex-direction: column;
	margin: 50px 0;
	background: #535774;
	padding: 35px;
}
input {
	margin: 10px 0;
	border: none;
	border-radius: 10px;
	padding: 7px;
}
[data-testid="checked"] {
	position: relative;
	cursor: pointer;
}
[data-testid="checked"]:before {
	content: "";
	display: block;
	width: 45px;
	height: 45px;
	border: 1px solid red;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
button {
	background: #0f4fff;
	border: none;
	border-radius: 30px;
	width: 300px;
	color: #fff;
	margin: auto;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 20px;
	padding: 10px 0;
	margin-top: 25px;
}
h2 {
	color: #fff;
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 3px;
}
.promotions {
	display: inline-block;
	margin-left: 20px;
	color: #fff;
}
